*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

nav {
  display: flex;
  background-color: #faeee9;
  user-select: none;
  position: fixed;
  width: 100%;
  z-index: 9;
}

nav .main {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-family: "Prata", serif;
  gap: 20vw;
}

nav .main li {
  display: flex;
  padding: 3px;
}

nav .left {
  display: flex;
  gap: 10px;
  color: #4a4641;
}

.main li:hover {
  border-bottom: 1px solid black;
}
nav .left li {
  font-size: 16px;
}
nav .right {
  display: flex;
  gap: 30px;
}
nav .right img {
  width: 25px;
  height: 25px;
}

nav h1 {
  font-family: "Bodoni Moda", serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 6px;
  right: 50px;
  position: relative;
}

/* 
                                            Hero section 
*/

.Hero{
  width: 100%;
  height: 100vh;
  position: relative;
}
.fade {
  background-image: url(/Hero.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent -9%, rgb(0, 0, 0) 50%);
  position: absolute;
}

.Hero .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 10;
  gap: 20px;
  position: absolute;
  margin-top: 20vh;
}

.Hero .main h1 {
  font-size: 50px;
  font-family: "Bodoni Moda", serif;
}

.Hero .main p{
    font-family:"Manrope",serif ;
    max-width: 49vw;
    padding: 10px;
      color: #30312E;
    line-height: 1.5;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

.Hero .main button{
    background-color: #000000;
    padding: 15px ;
    border: none;
    color: white;
    z-index: 10;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
}